{% extends 'base.html.twig' %}

{% block title %}Enterprise index{% endblock %}

{% block body %}
    <h1 class="p-3">Liste des Entreprises</h1>

    <table class="table table-striped table-bordered ">

    <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contacts</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enterprise in enterprises %}
            <tr>
                <td>{{ enterprise.id }}</td>
                <td>{{ enterprise.name }}</td>
                <td>{{ enterprise.email }}</td>
                <td>
                    <a href="{{ path('enterprise_show', {'id': enterprise.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('enterprise_edit', {'id': enterprise.id}) }}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}

            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('enterprise_new') }}">Ajouter une Entreprise</a>
{% endblock %}
