{% extends 'base.html.twig' %}

{% block title %}Enterprise{% endblock %}

{% block body %}
    <h1 class="p-3 jumbotron">Enterprise : {{ enterprise.name }}</h1>

    <table class="table table-bordered ">

    <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enterprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enterprise.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ enterprise.email }}</td>
            </tr>
        </tbody>

    </table>


    <a class="btn btn-secondary" href="{{ path('enterprise_edit', {'id': enterprise.id}) }}">Editer</a>
    <a class="btn btn-secondary" href="{{ path('enterprise_index') }}">Retour</a>


{% endblock %}
