{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1 class="p-3">Liste des Contacts</h1>

    <table class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Entreprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.enterprise }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}"><i class="fa fa-eye"></i>
                    </a>

                    <a href="{{ path('contact_edit', {'id': contact.id}) }}"><i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('contact_new') }}">Ajouter un contact</a>
{% endblock %}
